@use "../abstracts/variables" as *;

.discografia-albums {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;

    h2 {
        font-family: $fuente-principal;
        font-size: 5rem;
        margin-bottom: 2rem;
        text-align: left;
        color: $blanco;
    }
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.081);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 3px 6px 10px rgb(45, 0, 61);
    @include transition(transform);

    &:hover {
        transform: translateY(-5px);
    }

    img {
        width: 100%;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-family: $fuente-principal;
        font-size: 1.5rem;
        margin: 0.5rem 0;
        color: $gris;
    }
}

.titulo-con-linea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
    position: relative;

    .linea {
        align-self: flex-start;
        width: 40%;
        height: 2px;
        background-color: $violeta;
        margin-bottom: 1rem;
    }

    h2 {
        font-family: $fuente-principal;
        font-size: 5rem;
        color: $blanco;
        margin: 0;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 75%;
        height: 2px;
        background-color: $violeta;
    }
}

.songs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    position: relative;
    padding-bottom: 2rem;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 2px;
        background-color: $violeta;
        margin: 0 auto;
    }
}

.song-card {
    @extend .album-card; // reutilizamos estilos
}
