@use "../abstracts/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $tamano-base;
}

body {
    font-family: $fuente-principal;
    background-color: $negro;
    color: $blanco;
    line-height: $line-height-base;
}

    // HEADER
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $blanco;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;

    .logo-titulo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            font-size: 5rem;
            font-weight: 700;
            color: $negro;
            margin-bottom: 1rem;
        }

        .imagen-logo {
            width: 40rem;
            margin: 1rem 0;
            @include transition(transform);

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .nav {
        ul {
            display: flex;
            justify-content: center;
            gap: 3rem;
            list-style: none;
            margin: 2rem auto;

            li a {
                text-decoration: none;
                color: $negro;
                font-size: 2.5rem;
                font-weight: 500;
                @include transition(color);

                &:hover {
                    color: $violeta;
                }
            }
        }
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    header {
        .logo-titulo {
            h1 { font-size: 4rem; }
            .imagen-logo { width: 30rem; }
        }

        .nav ul li a { font-size: 2.2rem; }
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;

        .logo-titulo {
            align-items: center;

            h1 { font-size: 3.5rem; }
            .imagen-logo { width: 25rem; }
        }

        .nav ul {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            margin-top: 2rem;
        }
    }
}

// FOOTER
footer {
    background-color: $negro;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.4rem;
    color: grey;

    .imagen-logo-footer {
        width: 27rem;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .navFooter {
        ul {
            display: flex;
            justify-content: center;
            gap: 3rem;
            list-style: none;
            margin: 2rem auto;
            padding: 0;

            li a {
                text-decoration: none;
                color: grey;
                font-size: 2.2rem;
                font-weight: 500;
                @include transition(color);

                &:hover {
                    color: #b300ff;
                }
            }
        }
    }

    .formFooter {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1.5rem;

        input[type="email"] {
            padding: 0.8rem 1rem;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            width: 250px;
            background-color: #1a1a1a;
            color: #f5f5f5;

            &::placeholder {
                color: #aaa;
            }
        }

        input[type="submit"] {
            padding: 0.8rem 1.5rem;
            border: none;
            border-radius: 5px;
            background: linear-gradient(135deg, #6a00ff, #b300ff);
            color: $blanco;
            font-size: 1.2rem;
            cursor: pointer;
            @include transition(transform, box-shadow);

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 15px rgba(179, 0, 255, 0.6);
            }
        }
    }

    .iconosFooter {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1.7rem;
    }
}


@media (max-width: 768px) {
    footer {
        .navFooter ul {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;

            li a {
                font-size: 1.8rem;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    footer {
        .navFooter ul li a {
            font-size: 2rem;
        }
    }
}

// BOTONES
button {
    font-family: $fuente-principal;
    background-color: $violeta;
    color: $blanco;
    border: none;
    border-radius: 1rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    font-size: 1.6rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);

    &:hover {
        background-color: rgba(24, 1, 37, 0.9);
        transform: scale(1.05);
    }
}


